   <div class="row posts my-1">
                    <div class="col-12 col-md-6 col-lg-5 py-2 post mb-2">
                        <div class="post-header user-info row">
                            <div class="col-9 col-md-8">
                              <a href="/profile/<%=posts[i].owner.userID %>">
                                <% if(posts[i].owner.image && posts[i].owner.image.includes("http")){ %>
                                      <img src="<%= posts[i].owner.image %>" alt="<%= posts[i].owner.fullname %>" class="mb-2 rounded">
                                 <% } else { %>
                                        <img src="../images/posts/<%= posts[i].owner.image %>" alt="<%= posts[i].owner.fullname %>" class="mb-2 rounded">
                                 <% } %>
                              
                                <span class="ml-2" style="color:rgba(0,0,0,0.5)"><%= posts[i].owner.fullname %></span>
                              </a>
                            </div>
                            <div class="col-3 col-md-4 py-2 mod-center">
                              <span class="time" style="font-weight:100;">1 day ago</span>
                              <!-- <span class="ml-1"><i class="fa fa-ellipsis-v"></i></span> -->
                            </div>
                        </div>
                        <div class="post-body mt-2">
                            <a href="/post/<%= posts[i]._id %>" style="display:block;">
                              <img src="../images/posts/<%= posts[i].image %>" alt="<%= posts[i].owner.fullname %>" class="img-fluid">
                            </a>
                            <p class="lead mt-2"><%= posts[i].body %></p>
                        </div>
                        <div class="post-footer py-2 px-2">
                            <div class="row">
                                <div class="col-8">
                                 <% if(posts[i].likes.indexOf(session_id) == -1){ %>
                                   <button class="like bg-btn fa fa-thumbs-up" data-post="<%=posts[i]._id %>"></button>
                                 <% }else{ %>
                                   <button class="like bg-btn fa fa-thumbs-up" style="color:#0275d8;" data-post="<%=posts[i]._id %>"></button>
                                 <% } %>
                                  <span class="countLikes"><%= posts[i].likes.length %></span>
                                  <button class="comments bg-btn ml-2"><i class="fa fa-comment"></i></button>
                                  <span class="countComments"><%= posts[i].comments.length %></span>
                                </div>
                                <% if(single) {%>
                                <div class="col-2 ml-auto" style="text-align:center;">
                                  <button class="btn-set bg-btn" data-toggle="modal" data-post="<%= posts[i]._id %>" data-target="#postModal"><i class="fa fa-ellipsis-v"></i></button>
                                </div>
                                <% } %>
                            </div>
                            <!-- comment section  -->
                            <div class="row mt-3">
                            <% if(posts[i].comments.length>0){ %>
                              <div class="comment-list my-2">
                                  <% if(single) { %>
                                      <div class="comment my-2">
                                          <a href="/profile/<%= posts[i].comments[posts[i].comments.length - 1].user %>" class="mr-2"><%= posts[i].comments[posts[i].comments.length - 1].fullname %></a> <%= posts[i].comments[posts[i].comments.length - 1].comment%>
                                      </div>
                                       <a href="/post/<%= posts[i]._id %>" class="seperate ml-2">View all comments</a>
                                   
                                  <% }else{ %>
                                      <% for(var j=0;j<posts[i].comments.length;j++){%>
                                         <div class="comment my-2">
                                              <a href="/profile/<%= posts[i].comments[j].user %>" class="mr-2"><%= posts[i].comments[j].fullname %></a> <%= posts[i].comments[j].comment%>
                                          </div>
                                      <%}%>
                                  <% } %>
                              </div>
                            <% } %>
                              <form id="comment-form" class="mt-2">
                                <input type="text" name="" class="form-control" placeholder="Add a comment...">
                                <button data-post="<%= posts[i]._id %>" class="btn-comment fa fa-check"></button>
                              </form>
                            </div>
                        </div>
                    </div>

                      <!--   Load More Button
                       <div class="col-6 col-md-12 mx-auto my-3">
                          <button class="btn-load">Loading <i class="fa fa-spinner"></i></button>
                      </div>  -->
            </div>

  